* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: auto;
    height: 40px;

}

#logo {
    width: 150px;
    display: flex;
    background-color: green;
    justify-content: center;
    align-items: center;
}

#logo > a {
    color: white;
}
#links {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

#links > li {
    padding: 100px;
}

#links > li > a:visited, #links > li > a:link {
    color: white;
    text-decoration: none;
}

#links > li > a:hover {
    background-color: white;
    color: black;
}

#links > a {
    color: white;
}

#columns {
    display: flex;
    flex-direction: row;
    height: 500px;
}

#columns > div:nth-of-type(1) { 
    flex-grow: 3;
}

#columns > div:nth-of-type(2) { 
    flex-grow: 1;
}


#left-column {
    display: flex;
    flex-grow: 5;
    flex-direction: column;
    justify-content:space-between;
    height: 100%;
    margin: 10px;
}

.left-panels {
    border: 1px solid black;
    padding: 10px;
    margin: 0px;
}

.left-panels > h4 {
    margin-bottom: 5px;
}

#panel1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#panel2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#panel3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.boxes {
    height: 80px;
    width: 80px;
    background-color: black;
    color: white;
    margin: 10px;
}
#right-column {
    border: 1px solid black;
    height: 100%;
    max-width: 400px;
    margin: 10px;
    padding: 10px;
}